mat-grid-tile {
  background: lightblue;
}

#game {
  position: relative;
  top: 10%;
  left: 30%;
  width: 30%;
  height: 30%;
}

button {
  margin-top: 10px;
  position: relative;
  left: 45%;
  background-color: lightblue;
  font-size: large;
}
