<div id="game">
  <!-- How I can do this with NGFOR? -->
  <p *ngIf="turn===0"><strong>Your turn</strong></p>
  <p *ngIf="turn===1"><strong>Computer's turn</strong></p>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile (click)="onClickTile(1)">{{numsSymbols[1]}}</mat-grid-tile>
    <mat-grid-tile (click)="onClickTile(2)">{{numsSymbols[2]}}</mat-grid-tile>
    <mat-grid-tile (click)="onClickTile(3)">{{numsSymbols[3]}}</mat-grid-tile>
    <mat-grid-tile (click)="onClickTile(4)">{{numsSymbols[4]}}</mat-grid-tile>
    <mat-grid-tile (click)="onClickTile(5)">{{numsSymbols[5]}}</mat-grid-tile>
    <mat-grid-tile (click)="onClickTile(6)">{{numsSymbols[6]}}</mat-grid-tile>
    <mat-grid-tile (click)="onClickTile(7)">{{numsSymbols[7]}}</mat-grid-tile>
    <mat-grid-tile (click)="onClickTile(8)">{{numsSymbols[8]}}</mat-grid-tile>
    <mat-grid-tile (click)="onClickTile(9)">{{numsSymbols[9]}}</mat-grid-tile>
  </mat-grid-list>
  <div id="results">
    <p *ngIf="gameEnded"><strong>Winner: {{winner}}</strong></p>
    <button (click)="onButtonClick()">Reset</button>
  </div>
</div>
